@model progectS.VModel.VMMealDetails

@{
    ViewData["Title"] = "פרטי ארוחה";
}

<h1>@Model.Meal.MealName.Name</h1>

<div>
   
    <hr />
    <dl class="row">



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meal.SumCalories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meal.SumCalories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meal.SumProteins)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meal.SumProteins)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meal.SumCarbohydrates)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meal.SumCarbohydrates)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("הוסף מאכל לארוחה", "AddFoodsInMeal", new { id = Model.Meal.ID }) |
    <a asp-action="Index">Back to List</a>
</div>
@if (Model.Meal.Foods.Count > 0)
{
    <h4> האוכל שבתוך הארוחה </h4>
    <table class="table table-success text-center">
        <thead>
            <tr class="text-center">
                <th class="text-center">@Html.DisplayNameFor(model => model.Meal.Foods.First().Food.Name)</th>

                <th class="text-center">@Html.DisplayNameFor(model => model.Meal.Foods.First().Food.Caloris)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Meal.Foods.First().Food.Proteins)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Meal.Foods.First().Food.Carbohydrates)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Meal.Foods.First().Quantity)</th>
                <th class="text-center"></th>
            </tr>
        </thead>

        <tbody>

            @foreach (FoodInMeal item in Model.Meal.Foods)
            {

            <tr>
                <td>@Html.DisplayFor(modelItem => item.Food.Name)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Food.Caloris)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Food.Proteins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Food.Carbohydrates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.ActionLink("הצג ארוחה", "MealDetails", new { id = item.ID })
                </td>
            </tr>
            }

        </tbody>
    </table>
}
