@model IEnumerable<progectS.Models.Plane>

@{
    ViewData["Title"] = "התוכניות שלי";
}

<h1 class="text-center">התוכניות של @DAL.Get.User.FuulName</h1>
<hr />
<p>
    <a asp-controller="User" asp-action="AddPlane" class="btn btn-primary">תוכנית חדשה</a>
</p>

<div class="row text-center">
    @foreach (var item in Model)
    {
        <div class="col-sm-5 my-2">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title"> @Html.DisplayNameFor(model => model.Name)</h4>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Name)</p>
                    <h5 class="card-title"> @Html.DisplayNameFor(model => model.Date)</h5>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Date)</p>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">ערוך תוכנית</a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">פרטי תוכנית</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-primary">מחק תוכנית</a>
                </div>
            </div>
        </div>
    }
</div>


