@model progectS.VModel.VMToMealDetails

@{
    ViewData["Title"] = "פרטי ארוחה";
}

<h1>@Model.Meal.MealNameToDay.Name</h1>

<div>

    <hr />
    <dl class="row">



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meal.SumCaloriesT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meal.SumCaloriesT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meal.SumProteinsT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meal.SumProteinsT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meal.SumCarbohydratesT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meal.SumCarbohydratesT)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("הוסף מאכל לארוחה", "AddFoodsInMealToDay", new { id = Model.Meal.ID }) |
    <a asp-action="Index">Back to List</a>
</div>
@if (Model.Meal.Foods.Count > 0)
{
    <h4> האוכל שבתוך הארוחה </h4>
    <table class="table table-success text-center">
        <thead >
            <tr >
                <th class="text-center">@Html.DisplayNameFor(model => model.Meal.Foods.First().Food.Name)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Meal.Foods.First().Food.Caloris)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Meal.Foods.First().Food.Proteins)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Meal.Foods.First().Food.Carbohydrates)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.Meal.Foods.First().Quantity)</th>
                <th class="text-center"></th>
            </tr>
        </thead>

        <tbody>

            @foreach (TodayFoodInMeal item in Model.Meal.Foods)
            {

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Food.Name)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Food.Caloris)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Food.Proteins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Food.Carbohydrates)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.ActionLink("הצג ארוחה", "MealDetails", new { id = item.ID })
                        
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <br />
    <br/>
}